@import "tailwindcss";

@layer utilities {
  @media (max-width: 770px) {
    html {
      font-size: 12px;
    }
  }

  @media (max-width: 450px) {
    html {
      font-size: 10px;
    }
  }

  @font-face {
    font-family: 'NiceBounce';
    src: url('fonts/NiceBounce.otf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'TropiLand';
    src: url('fonts/TropiLand.ttf');
    font-weight: normal;
    font-style: normal;
  }

	.no-scrollbar {
		scrollbar-width: none;
	}
}

@theme {
	--color-hamburgerOverlay: hsl(268, 70%, 12%);
	--color-headerColor: hsl(12, 100%, 55%);
	--color-textColor: hsl(52, 100%, 85%);
	--color-alternativeColor: hsl(342, 100%, 45%);
	--font-bounce: "NiceBounce", "Geist-MonoVF", sans-serif;
	--font-tropiLand: "Tropiland", "Geist-MonoVF", sans-serif;
}

body {
  color: hsl(12, 100%, 55%);
  background: hsl(268, 70%, 12%);
  font-family: Arial, Helvetica, sans-serif;
}
