@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (max-width: 770) {
	html {
		font-size: 12px;
	}
}

@media (max-width: 450px) {
	html {
		font-size: 10px;
	}
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
	font-family: "NiceBounce";
	src: url("fonts/NiceBounce.otf");
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: "TropiLand";
	src: url("fonts/TropiLand.ttf");
	font-weight: normal;
	font-style: normal;
}


@layer utilities {
	.no-scrollbar {
		scrollbar-width: none;
	}
}


body {
  color: hsl(160, 90%, 55%);
  background: hsl(340, 60%, 8%);
  font-family: Arial, Helvetica, sans-serif;
}
